extends layout

block content
	div.row
		label.col-md-8 Nossas porções
		div.col-md-4.margin-bottom.actions-buttons
			a(href='/porcoes/nova-porcao')#novo.btn.btn-success.margin-left Nova porção
			a(href='/')#voltar.btn.btn-success Voltar
	div.row
		div.table-responsive.col-md-12
			table.table.table-striped
				thead.well
					tr
						th Nome
						th Preço
						th Imagem
						th Ações
				tbody
				each porcao, i in porcoes
					tr
						td= porcao.nome
						td= porcao.preco
						td
							img(src=porcao.imagem).small
						td
							a(href='/porcoes/editar-porcao/' + porcao._id).glyphicon.glyphicon-pencil.margin-left-s
							a(href='', rel=porcao._id, type='DELETE').glyphicon.glyphicon-remove.margin-left-s
	script.
		$('a[type="DELETE"]').click(function(e) {
			e.preventDefault();
		
			$.ajax({
				type: 'DELETE',
				url: '/s/porcoes/' + $(this).attr('rel'),
				success : function(response) {
					if (response.msg !== '')
						alert('Error: ' + response.msg);

					window.location = '/porcoes';
				}
			});

			return false;
		});
